@model TipoCuenta
@{
    ViewData["Title"] = "Tipo de Cuenta";
}


<h1>Crear tipo de cuenta</h1>

@*Tags Helper para validaciones del modelo (se valida en el controller)*@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="TiposCuentas" asp-action="Crear">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label> @*asp-for = Tag Helper*@
        <input type="text" asp-for="Nombre" name="Nombre" placeholder="Ingrese nombre..." class="form-control"/>

        @*asp-validation-for = Tag helper, valida el campo Nombre del modelo*@
        <span asp-validation-for="Nombre" class="text-danger"></span>  
    </div>

    <button type="submit" class="btn btn-primary">
        Enviar
    </button>
    <a class="btn btn-secondary" asp-controller="TiposCuentas" asp-action="Index">
        Cancelar
    </a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


