@model IEnumerable<TipoCuenta>
@{
    ViewData["Title"] = "Tipos Cuentas";
}

<h1>Tipos de cuentas</h1>

<a asp-controller="TiposCuentas" asp-action="Crear" class="btn btn-primary">Crear tipo de cuenta</a>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Acciones</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tipoCuenta in Model)
        {
            <tr>
                <td scope="row">
                    <a class="btn btn-primary" asp-route-id="@tipoCuenta.Id" asp-controller="TiposCuentas" asp-action="Editar">Editar</a>
                    <a class="btn btn-danger" asp-route-id ="@tipoCuenta.Id" asp-controller="TiposCuentas" asp-action="Eliminar" >Eliminar</a>
                </td>
                <td scope="row">@tipoCuenta.Nombre</td>
            </tr>
        }
    </tbody>
</table>